﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @{ Html.RenderPartial("_HeaderLogin");  }
    
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
