﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Login")
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")

    @RenderBody()

    
    @RenderSection("scripts", required: false)
</body>
</html>
