﻿<div class="sidebar-menu">
    <header class="logo">
        <a href="#" class="sidebar-icon"><span class="fa fa-bars"></span></a>
        <a href="index.html"><span id="logo">
            <h1>AMF </h1>
        </span>
            <!--<img id="logo" src="" alt="Logo" />-->
        </a>
    </header>
    <div style="border-top: 1px solid rgba(69, 74, 84, 0.7)"></div>
    <!--/down-->
    <div class="down">
        <a href="index.html">
            <img src="@Url.Content("~/images/Perfil.jpg")"></a>
        <a href="index.html"><span class=" name-caret">Robert Rozas</span></a>
        <p>Administrador</p>
        <ul>
            <li><a class="tooltips" href="index.html"><span>Perfil</span><i class="lnr lnr-user"></i></a></li>
            <li><a class="tooltips" href="index.html"><span>Configurar</span><i class="lnr lnr-cog"></i></a></li>
            <li><a class="tooltips" href="@Url.Content("~/Autenticacion/Ingresar")"><span>Salir</span><i class="lnr lnr-power-switch"></i></a></li>
        </ul>
    </div>
    <!--//down-->
    <div class="menu">
        <ul id="menu">
            <li><a href="index.html"><i class="fa fa-tachometer"></i><span>Indicadores</span></a></li>
            <li id="menu-academico"><a href="#"><i class="fa fa-table"></i><span>Envío de Correos</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                <ul id="menu-academico-sub">
                    <li id="menu-academico-avaliacoes"><a href="tabs.html">Promociones</a></li>
                </ul>
            </li>
            <li id="menu-academico2"><a href="#"><i class="fa fa-file-text-o"></i><span>Envío de SMS</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                <ul id="menu-academico-sub2">
                    <li id="menu-academico-avaliacoes2"><a href="forms.html">SMS Masivo</a></li>
                    <li id="menu-academico-boletim2"><a href="validation.html">Texto a Voz</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>