﻿@{
    ViewBag.Title = "NoExiste";
    Layout = "~/Views/Shared/_LayoutIngresar.cshtml";
}
<!--/404-->
<div class="error_page error">
    <!--/error-top-->
    <div class="error-top error">
        <h3>4<i class="fa fa-smile-o"></i>4</h3>
        <span>Whoops! Página No Encontrada</span>
        <p>La página que has buscado no se encuentra en nuestros sistemas.</p>
        <div class="error-btn">
            <a class="read fourth" href="@Url.Content("~/Autenticacion/Ingresar")">Regresar</a>
        </div>
    </div>

    <!--//error-top-->
</div>
<!--footer section start-->
<div class="footer error">
    <p>2016 AMF Impresión Variable. Todos los Derechos Reservados.</p>
</div>
<!--footer section end-->
<!--/404-->