﻿@{
    ViewBag.Title = "AMF Email Marketer";
    Layout = "~/Views/Shared/_LayoutIngresar.cshtml";
}

<div class="error_page">
    <!--/login-top-->

    <div class="error-top">
        <h2 class="inner-tittle page">AMF Email Marketer</h2>
        <div class="login">            
            <div class="buttons login">
                <ul>
                    <li><a href="#" class="hvr-sweep-to-right">Ingreso</a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <form action="@Url.Content("~/Sitio/Principal")" method="post">
                <input type="text" class="text" placeholder="Usuario" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Usuarios';}">
                <input type="password" placeholder="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" autocomplete="off">
                <div class="submit">
                    <input class="hvr-sweep-to-right" type="submit" value="Login"></div>
                <div class="clearfix"></div>

                <div class="new">
                    <p>
                        <label class="checkbox11">
                            <input type="checkbox" name="forgot" /><i> </i>Olvido su Contraseña?</label></p>
                    <p class="sign">No posee una cuenta? <a href="sign.html">Crear</a></p>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>

    <!--//login-top-->
</div>

<!--//login-->
<!--footer section start-->
<div class="footer">
    <div class="error-btn">        
    </div>
    <p>&copy 2016 AMF Impresión Variable. Todos los Derechos Reservados.</p>
</div>
<!--footer section end-->
<!--/404-->